/* 动画调用 */
.center .outer_two_piece:nth-child(1),
.center .outer_three_piece:nth-child(1) {
   -webkit-animation: fade 5s 0.1s infinite;
   animation: fade 5s 0.1s infinite;
 }

.center .outer_two_piece:nth-child(2),
.center .outer_three_piece:nth-child(2) {
   -webkit-animation: fade 5s 0.2s infinite;
   animation: fade 5s 0.2s infinite;
 }

.center .outer_two_piece:nth-child(3),
.center .outer_three_piece:nth-child(3) {
   -webkit-animation: fade 5s 0.3s infinite;
   animation: fade 5s 0.3s infinite;
 }

.center .outer_two_piece:nth-child(4),
.center .outer_three_piece:nth-child(4) {
   -webkit-animation: fade 5s 0.4s infinite;
   animation: fade 5s 0.4s infinite;
 }

.center .outer_two_piece:nth-child(5),
.center .outer_three_piece:nth-child(5) {
   -webkit-animation: fade 5s 0.5s infinite;
   animation: fade 5s 0.5s infinite;
 }

.center .outer_two_piece:nth-child(6),
.center .outer_three_piece:nth-child(6) {
   -webkit-animation: fade 5s 0.6s infinite;
   animation: fade 5s 0.6s infinite;
 }

.center .outer_two_piece:nth-child(7),
.center .outer_three_piece:nth-child(7) {
   -webkit-animation: fade 5s 0.7s infinite;
   animation: fade 5s 0.7s infinite;
 }

.center .outer_two_piece:nth-child(8),
.center .outer_three_piece:nth-child(8) {
   -webkit-animation: fade 5s 0.8s infinite;
   animation: fade 5s 0.8s infinite;
 }

.center .outer_two_piece:nth-child(9),
.center .outer_three_piece:nth-child(9) {
   -webkit-animation: fade 5s 0.9s infinite;
   animation: fade 5s 0.9s infinite;
 }

.center .outer_two_piece:nth-child(10),
.center .outer_three_piece:nth-child(10) {
   -webkit-animation: fade 5s 1s infinite;
   animation: fade 5s 1s infinite;
 }

.center .outer_two_piece:nth-child(11),
.center .outer_three_piece:nth-child(11) {
   -webkit-animation: fade 5s 1.1s infinite;
   animation: fade 5s 1.1s infinite;
 }

.center .outer_two_piece:nth-child(12),
.center .outer_three_piece:nth-child(12) {
   -webkit-animation: fade 5s 1.2s infinite;
   animation: fade 5s 1.2s infinite;
 }

.center .outer_two_piece:nth-child(13),
.center .outer_three_piece:nth-child(13) {
   -webkit-animation: fade 5s 1.3s infinite;
   animation: fade 5s 1.3s infinite;
 }

.center .outer_two_piece:nth-child(14),
.center .outer_three_piece:nth-child(14) {
   -webkit-animation: fade 5s 1.4s infinite;
   animation: fade 5s 1.4s infinite;
 }

.center .outer_two_piece:nth-child(15),
.center .outer_three_piece:nth-child(15) {
   -webkit-animation: fade 5s 1.5s infinite;
   animation: fade 5s 1.5s infinite;
 }

.center .outer_two_piece:nth-child(16),
.center .outer_three_piece:nth-child(16) {
   -webkit-animation: fade 5s 1.6s infinite;
   animation: fade 5s 1.6s infinite;
 }

.center .outer_two_piece:nth-child(17),
.center .outer_three_piece:nth-child(17) {
   -webkit-animation: fade 5s 1.7s infinite;
   animation: fade 5s 1.7s infinite;
 }

.center .outer_two_piece:nth-child(18),
.center .outer_three_piece:nth-child(18) {
   -webkit-animation: fade 5s 1.8s infinite;
   animation: fade 5s 1.8s infinite;
 }

.center .outer_two_piece:nth-child(19),
.center .outer_three_piece:nth-child(19) {
   -webkit-animation: fade 5s 1.9s infinite;
   animation: fade 5s 1.9s infinite;
 }

.center .outer_two_piece:nth-child(20),
.center .outer_three_piece:nth-child(20) {
   -webkit-animation: fade 5s 2s infinite;
   animation: fade 5s 2s infinite;
 }

.center .outer_two_piece:nth-child(21),
.center .outer_three_piece:nth-child(21) {
   -webkit-animation: fade 5s 2.1s infinite;
   animation: fade 5s 2.1s infinite;
 }

.center .outer_two_piece:nth-child(22),
.center .outer_three_piece:nth-child(22) {
   -webkit-animation: fade 5s 2.2s infinite;
   animation: fade 5s 2.2s infinite;
 }

.center .outer_two_piece:nth-child(23),
.center .outer_three_piece:nth-child(23) {
   -webkit-animation: fade 5s 2.3s infinite;
   animation: fade 5s 2.3s infinite;
 }

.center .outer_two_piece:nth-child(24),
.center .outer_three_piece:nth-child(24) {
   -webkit-animation: fade 5s 2.4s infinite;
   animation: fade 5s 2.4s infinite;
 }

.center .outer_two_piece:nth-child(25),
.center .outer_three_piece:nth-child(25) {
   -webkit-animation: fade 5s 2.5s infinite;
   animation: fade 5s 2.5s infinite;
 }

.center .outer_two_piece:nth-child(26),
.center .outer_three_piece:nth-child(26) {
   -webkit-animation: fade 5s 2.6s infinite;
   animation: fade 5s 2.6s infinite;
 }

.center .outer_two_piece:nth-child(27),
.center .outer_three_piece:nth-child(27) {
   -webkit-animation: fade 5s 2.7s infinite;
   animation: fade 5s 2.7s infinite;
 }

.center .outer_two_piece:nth-child(28),
.center .outer_three_piece:nth-child(28) {
   -webkit-animation: fade 5s 2.8s infinite;
   animation: fade 5s 2.8s infinite;
 }

.center .outer_two_piece:nth-child(29),
.center .outer_three_piece:nth-child(29) {
   -webkit-animation: fade 5s 2.9s infinite;
   animation: fade 5s 2.9s infinite;
 }

.center .outer_two_piece:nth-child(30),
.center .outer_three_piece:nth-child(30) {
   -webkit-animation: fade 5s 3s infinite;
   animation: fade 5s 3s infinite;
 }

.center .outer_two_piece:nth-child(31),
.center .outer_three_piece:nth-child(31) {
   -webkit-animation: fade 5s 3.1s infinite;
   animation: fade 5s 3.1s infinite;
 }

.center .outer_two_piece:nth-child(32),
.center .outer_three_piece:nth-child(32) {
   -webkit-animation: fade 5s 3.2s infinite;
   animation: fade 5s 3.2s infinite;
 }

.center .outer_two_piece:nth-child(33),
.center .outer_three_piece:nth-child(33) {
   -webkit-animation: fade 5s 3.3s infinite;
   animation: fade 5s 3.3s infinite;
 }

.center .outer_two_piece:nth-child(34),
.center .outer_three_piece:nth-child(34) {
   -webkit-animation: fade 5s 3.4s infinite;
   animation: fade 5s 3.4s infinite;
 }

.center .outer_two_piece:nth-child(35),
.center .outer_three_piece:nth-child(35) {
   -webkit-animation: fade 5s 3.5s infinite;
   animation: fade 5s 3.5s infinite;
 }

.center .outer_two_piece:nth-child(36),
.center .outer_three_piece:nth-child(36) {
   -webkit-animation: fade 5s 3.6s infinite;
   animation: fade 5s 3.6s infinite;
 }

.center .outer_four_piece:nth-child(1),
.center .outer_five_piece:nth-child(1) {
   -webkit-animation: fade 7s 0.1s infinite;
   animation: fade 7s 0.1s infinite;
 }

.center .outer_four_piece:nth-child(2),
.center .outer_five_piece:nth-child(2) {
   -webkit-animation: fade 7s 0.2s infinite;
   animation: fade 7s 0.2s infinite;
 }

.center .outer_four_piece:nth-child(3),
.center .outer_five_piece:nth-child(3) {
   -webkit-animation: fade 7s 0.3s infinite;
   animation: fade 7s 0.3s infinite;
 }

.center .outer_four_piece:nth-child(4),
.center .outer_five_piece:nth-child(4) {
   -webkit-animation: fade 7s 0.4s infinite;
   animation: fade 7s 0.4s infinite;
 }

.center .outer_four_piece:nth-child(5),
.center .outer_five_piece:nth-child(5) {
   -webkit-animation: fade 7s 0.5s infinite;
   animation: fade 7s 0.5s infinite;
 }

.center .outer_four_piece:nth-child(6),
.center .outer_five_piece:nth-child(6) {
   -webkit-animation: fade 7s 0.6s infinite;
   animation: fade 7s 0.6s infinite;
 }

.center .outer_four_piece:nth-child(7),
.center .outer_five_piece:nth-child(7) {
   -webkit-animation: fade 7s 0.7s infinite;
   animation: fade 7s 0.7s infinite;
 }

.center .outer_four_piece:nth-child(8),
.center .outer_five_piece:nth-child(8) {
   -webkit-animation: fade 7s 0.8s infinite;
   animation: fade 7s 0.8s infinite;
 }

.center .outer_four_piece:nth-child(9),
.center .outer_five_piece:nth-child(9) {
   -webkit-animation: fade 7s 0.9s infinite;
   animation: fade 7s 0.9s infinite;
 }

.center .outer_four_piece:nth-child(10),
.center .outer_five_piece:nth-child(10) {
   -webkit-animation: fade 7s 1s infinite;
   animation: fade 7s 1s infinite;
 }

.center .outer_four_piece:nth-child(11),
.center .outer_five_piece:nth-child(11) {
   -webkit-animation: fade 7s 1.1s infinite;
   animation: fade 7s 1.1s infinite;
 }

.center .outer_four_piece:nth-child(12),
.center .outer_five_piece:nth-child(12) {
   -webkit-animation: fade 7s 1.2s infinite;
   animation: fade 7s 1.2s infinite;
 }

.center .outer_four_piece:nth-child(13),
.center .outer_five_piece:nth-child(13) {
   -webkit-animation: fade 7s 1.3s infinite;
   animation: fade 7s 1.3s infinite;
 }

.center .outer_four_piece:nth-child(14),
.center .outer_five_piece:nth-child(14) {
   -webkit-animation: fade 7s 1.4s infinite;
   animation: fade 7s 1.4s infinite;
 }

.center .outer_four_piece:nth-child(15),
.center .outer_five_piece:nth-child(15) {
   -webkit-animation: fade 7s 1.5s infinite;
   animation: fade 7s 1.5s infinite;
 }

.center .outer_four_piece:nth-child(16),
.center .outer_five_piece:nth-child(16) {
   -webkit-animation: fade 7s 1.6s infinite;
   animation: fade 7s 1.6s infinite;
 }

.center .outer_four_piece:nth-child(17),
.center .outer_five_piece:nth-child(17) {
   -webkit-animation: fade 7s 1.7s infinite;
   animation: fade 7s 1.7s infinite;
 }

.center .outer_four_piece:nth-child(18),
.center .outer_five_piece:nth-child(18) {
   -webkit-animation: fade 7s 1.8s infinite;
   animation: fade 7s 1.8s infinite;
 }

.center .outer_four_piece:nth-child(19),
.center .outer_five_piece:nth-child(19) {
   -webkit-animation: fade 7s 1.9s infinite;
   animation: fade 7s 1.9s infinite;
 }

.center .outer_four_piece:nth-child(20),
.center .outer_five_piece:nth-child(20) {
   -webkit-animation: fade 7s 2s infinite;
   animation: fade 7s 2s infinite;
 }

.center .outer_four_piece:nth-child(21),
.center .outer_five_piece:nth-child(21) {
   -webkit-animation: fade 7s 2.1s infinite;
   animation: fade 7s 2.1s infinite;
 }

.center .outer_four_piece:nth-child(22),
.center .outer_five_piece:nth-child(22) {
   -webkit-animation: fade 7s 2.2s infinite;
   animation: fade 7s 2.2s infinite;
 }

.center .outer_four_piece:nth-child(23),
.center .outer_five_piece:nth-child(23) {
   -webkit-animation: fade 7s 2.3s infinite;
   animation: fade 7s 2.3s infinite;
 }

.center .outer_four_piece:nth-child(24),
.center .outer_five_piece:nth-child(24) {
   -webkit-animation: fade 7s 2.4s infinite;
   animation: fade 7s 2.4s infinite;
 }

.center .outer_four_piece:nth-child(25),
.center .outer_five_piece:nth-child(25) {
   -webkit-animation: fade 7s 2.5s infinite;
   animation: fade 7s 2.5s infinite;
 }

.center .outer_four_piece:nth-child(26),
.center .outer_five_piece:nth-child(26) {
   -webkit-animation: fade 7s 2.6s infinite;
   animation: fade 7s 2.6s infinite;
 }

.center .outer_four_piece:nth-child(27),
.center .outer_five_piece:nth-child(27) {
   -webkit-animation: fade 7s 2.7s infinite;
   animation: fade 7s 2.7s infinite;
 }

.center .outer_four_piece:nth-child(28),
.center .outer_five_piece:nth-child(28) {
   -webkit-animation: fade 7s 2.8s infinite;
   animation: fade 7s 2.8s infinite;
 }

.center .outer_four_piece:nth-child(29),
.center .outer_five_piece:nth-child(29) {
   -webkit-animation: fade 7s 2.9s infinite;
   animation: fade 7s 2.9s infinite;
 }

.center .outer_four_piece:nth-child(30),
.center .outer_five_piece:nth-child(30) {
   -webkit-animation: fade 7s 3s infinite;
   animation: fade 7s 3s infinite;
 }

.center .outer_four_piece:nth-child(31),
.center .outer_five_piece:nth-child(31) {
   -webkit-animation: fade 7s 3.1s infinite;
   animation: fade 7s 3.1s infinite;
 }

.center .outer_four_piece:nth-child(32),
.center .outer_five_piece:nth-child(32) {
   -webkit-animation: fade 7s 3.2s infinite;
   animation: fade 7s 3.2s infinite;
 }

.center .outer_four_piece:nth-child(33),
.center .outer_five_piece:nth-child(33) {
   -webkit-animation: fade 7s 3.3s infinite;
   animation: fade 7s 3.3s infinite;
 }

.center .outer_four_piece:nth-child(34),
.center .outer_five_piece:nth-child(34) {
   -webkit-animation: fade 7s 3.4s infinite;
   animation: fade 7s 3.4s infinite;
 }

.center .outer_four_piece:nth-child(35),
.center .outer_five_piece:nth-child(35) {
   -webkit-animation: fade 7s 3.5s infinite;
   animation: fade 7s 3.5s infinite;
 }

.center .outer_four_piece:nth-child(36),
.center .outer_five_piece:nth-child(36) {
   -webkit-animation: fade 7s 3.6s infinite;
   animation: fade 7s 3.6s infinite;
 }
 
/* animations */
/* 缩放动画 */
@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  40% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }

  60% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }

  80% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  40% {
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
  }

  60% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }

  80% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* 摇摆动画 */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
    transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
  }

  25% {
    -webkit-transform: rotateX(26deg) rotateY(-24deg) rotatez(84deg) scale(0.5);
    transform: rotateX(26deg) rotateY(-24deg) rotatez(84deg) scale(0.5);
  }

  50% {
    -webkit-transform: rotateX(22deg) rotateY(-23deg) rotatez(82deg) scale(0.5);
    transform: rotateX(22deg) rotateY(-23deg) rotatez(82deg) scale(0.5);
  }

  75% {
    -webkit-transform: rotateX(23deg) rotateY(-19deg) rotatez(78deg) scale(0.5);
    transform: rotateX(23deg) rotateY(-19deg) rotatez(78deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
    transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
    transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
  }

  25% {
    -webkit-transform: rotateX(26deg) rotateY(-24deg) rotatez(84deg) scale(0.5);
    transform: rotateX(26deg) rotateY(-24deg) rotatez(84deg) scale(0.5);
  }

  50% {
    -webkit-transform: rotateX(22deg) rotateY(-23deg) rotatez(82deg) scale(0.5);
    transform: rotateX(22deg) rotateY(-23deg) rotatez(82deg) scale(0.5);
  }

  75% {
    -webkit-transform: rotateX(23deg) rotateY(-19deg) rotatez(78deg) scale(0.5);
    transform: rotateX(23deg) rotateY(-19deg) rotatez(78deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
    transform: rotateX(24deg) rotateY(-21deg) rotatez(80deg) scale(0.5);
  }
}
/* 透明度渐变动画 */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* 闪烁动画 */
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

